@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);
  --color-nav: var(--nav);
  --shadow: 0 12px 80px #00000029;
}

:root {
  --radius: 1rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --nav: hsla(0, 0%, 93%, 0.72);
}

.dark {
  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground mx-auto flex min-h-svh max-w-[2400px] flex-col antialiased;
  }

  kbd {
    @apply bg-muted text-muted-foreground inline-flex h-5 items-center gap-1 rounded border px-1.5 text-sm font-medium select-none;
  }

  a {
    @apply font-medium transition-colors duration-300 hover:text-neutral-700;
  }

  h1 {
    @apply mx-auto max-w-[700px] text-center text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl;
  }
}

@layer components {
  .desc {
    @apply text-muted-foreground mx-auto max-w-[700px] px-4 text-center text-lg lg:text-xl;
  }

  .pad {
    @apply pt-24 sm:pt-32;
  }
}

@utility container {
  margin-inline: auto;
  padding: 2rem 1.5rem;
  width: 100%;

  @variant md {
    padding: 1rem 3rem;
  }

  @variant lg {
    padding: 1rem 4rem;
  }
}

@layer utilities {
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(50%);
    }
  }

  .animate-scroll-left {
    animation: scroll-left linear infinite;
  }

  .animate-scroll-right {
    animation: scroll-right linear infinite;
  }

  .animate-marquee {
    animation: scroll-left 100s linear infinite;
  }

  .marquee-container:hover .animate-marquee {
    animation-play-state: paused;
  }
}
